<!-- Header -->
<header>

    <div class="container">
        <div class="col-md-12 text-center">
            <figure class="logo-header">
                <img src="/images/logo.jpeg" alt="Logo">
            </figure>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12 home-title">
                <div class="box-header">
                    <h1>Seigneur Gaëtan</h1>
                    <p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Le mans
                    </p>

                    <div class="header-btn">
                        <a href="#connaissances" class="btn btn-header"><i class="far fa-comment"></i> Connaissance</a>
                        <a id="dev-cv" class="btn btn-header"><i class="fas fa-cloud-upload-alt"></i> Télécharger mon CV</a>

                        <div class="container progress_bar">
                            <progress class="progress-bar progress-bar-2" value="0" max="100"></progress>
                            <div class="legend">
                                <span class="done" id="done">0%</span>
                            </div>
                        </div>

                        <div class="header-search">
                            <i class="fas fa-search"></i>
                            <input type="text" class="form-control" placeholder="Faites votre recherche" aria-label="search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header -->