<!-- Header -->
<header>

    <div class="container">
        <div class="col-md-12 text-center">
            <figure class="logo-header">
                <img src="/images/logo.jpeg" alt="Logo">
            </figure>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12 home-title">
                <div class="box-header">
                    <h1>Seigneur Gaëtan</h1>
                    <p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Le mans
                    </p>

                    <div class="header-btn">
                        <a href="#connaissances" class="btn btn-header"><i class="far fa-comment"></i> Connaissance</a>
                        <a id="dev-cv" class="btn btn-header"><i class="fas fa-cloud-upload-alt"></i> Télécharger mon CV</a>

                        <div class="container progress_bar">
                            <progress class="progress-bar progress-bar-2" value="0" max="100"></progress>
                            <div class="legend">
                                <span class="done" id="done">0%</span>
                            </div>
                        </div>

                        <div class="header-search">
                            <i class="fas fa-search"></i>
                            <input type="text" class="form-control" placeholder="Faites votre recherche" aria-label="search" id="inputSearch" onkeyup="searchFunction()">
                            <ul id="searchKey">
                            {{#each articles}}
                                <li><a href="article/{{_id}}" title="{{title}}">{{title}}</a></li>
                            {{/each}}
                            </ul>
                        </div>

                        <style>
                                #searchKey {
                                    display: none;
                                    position: absolute;
                                    list-style-type: none;
                                    padding: 0;
                                    margin: 0;
                                    width: 281px;
                                    z-index: 9;
                                    left: 9px;
                                }

                                #searchKey li a {
                                        border: 1px solid #807c7c;
                                        margin-top: -1px;
                                        background-color: #666869;
                                        padding: 12px;
                                        text-decoration: none;
                                        font-size: 17px;
                                        color: white;
                                        display: block;
                                        font-family: 'Karla', sans-serif;
                                }

                                #searchKey li a:hover:not(.header) {
                                    background-color: #57595a;
                                }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header -->