 <!-- Modal Admin Ajout Projet -->
 <div class="modal fade" id="add_projet" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelAddProjet">Ajouter un projet réalisé</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST">
                 <div class="modal-body">
                     <div class="form-group">
                         <label for="imageProjetB" class="text-dark mb-2">Image du projet</label>
                         <input type="text" class="form-control mb-2" name="imageProjetB" id="imageProjetB"
                             placeholder="Image du projet">
                     </div>

                     <div class="form-group">
                         <label for="titreProjetB" class="text-dark mb-2">Titre du projet</label>
                         <input type="text" class="form-control mb-2" name="titreProjetB" id="titreProjetB"
                             placeholder="Titre du projet">
                     </div>

                     <div class="form-group">
                         <label for="dateProjetA" class="text-dark mb-2">Date du projet</label>
                         <input type="date" class="form-control mb-2" name="dateProjetA" id="dateProjetA">
                     </div>

                     <div class="form-group">
                         <label for="contentProjetA" class="text-dark mb-2">Description du projet</label>
                         <textarea rows="10" class="form-control mb-2" name="contentProjetA" id="contentProjetA"
                             placeholder="Description du projet"></textarea>
                     </div>

                     <div class="form-group mt-4 text-center">
                         <label class="text-dark mb-2">Projet privé ?</label>
                     </div>

                     <div class="form-group mb-1 text-center">
                         <input type="checkbox" id="checkBoxConfirmOuiB" value="oui">
                         <label class="form-check-label text-dark mr-2 mt-3" for="checkBoxConfirmOui">Oui</label>

                         <input class="mr-2" type="checkbox" id="checkBoxConfirmNonB" value="non">
                         <label class="form-check-label text-dark mr-2 mt-3" for="checkBoxConfirmNon">Non</label>
                     </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="button" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Ajout Projet -->

 <!-- Modal Admin Ajout Article Blog -->
 <div class="modal fade" id="add_article" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelAddArticle">Ajouter un article au blog</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST">
                 <div class="modal-body">
                     <div class="form-group">
                         <label for="imageArticleB" class="text-dark mb-2">Image de l'article</label>
                         <input type="text" class="form-control mb-2" name="imageArticleB" id="imageArticleB"
                             placeholder="Image de l'article">
                     </div>

                     <div class="form-group">
                         <label for="titreArticleB" class="text-dark mb-2">Titre de l'article</label>
                         <input type="text" class="form-control mb-2" name="titreArticleB" id="titreArticleB"
                             placeholder="Titre de l'article">
                     </div>

                     <div class="form-group">
                         <label for="dateProjetB" class="text-dark mb-2">Date de l'article</label>
                         <input type="date" class="form-control mb-2" name="dateProjetB" id="dateProjetB">
                     </div>

                     <div class="form-group">
                         <label for="contentProjet" class="text-dark mb-2">Description de l'article</label>
                         <textarea rows="10" class="form-control mb-2" name="contentProjetB" id="contentProjetB"
                             placeholder="Description de l'article"></textarea>
                     </div>

                     <div class="form-group mt-4 text-center">
                         <label class="text-dark mb-2">Article privé ?</label>
                     </div>

                     <div class="form-group mb-1 text-center">
                         <input type="checkbox" id="checkBoxConfirmArticle" value="oui">
                         <label class="form-check-label text-dark mr-2 mt-3" for="checkBoxConfirmArticle">Oui</label>

                         <input class="mr-2" type="checkbox" id="checkBoxConfirmNonA" value="non">
                         <label class="form-check-label text-dark mr-2 mt-3" for="checkBoxConfirmNon">Non</label>
                     </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="button" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Ajout Article Blog -->

 <!-- Modal Admin Ajout Membres -->
 <div class="modal fade" id="add_membres" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelAddMembres">Ajouter un nouveau membre</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST">
                 <div class="modal-body">
                     <div class="form-group">
                         <label for="nomB" class="text-dark mb-2">Nom du membre</label>
                         <input type="text" class="form-control mb-2" name="nomB" id="nomB" placeholder="Nom">
                     </div>

                     <div class="form-group">
                         <label for="prenomB" class="text-dark mb-2">Prénom du membre</label>
                         <input type="text" class="form-control mb-2" name="prenomB" id="prenomB" placeholder="Prénom">
                     </div>

                     <div class="form-group">
                         <label for="emailB" class="text-dark mb-2">Email du membre</label>
                         <input type="text" class="form-control mb-2" name="emailB" id="emailB"
                             placeholder="Adresse email">
                     </div>

                     <div class="form-group">
                         <label for="passwordB" class="text-dark mb-2">Mot de passe du membre</label>
                         <input type="password" class="form-control mb-2" name="passwordB" id="passwordB"
                             placeholder="Mot de passe">
                     </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="button" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Ajout Article Blog -->

 <!-- Modal Admin Modifier un projet -->
 <div class="modal fade" id="modif_projet" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelModifProjet">Modifier le projet XXXX</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST">
                 <div class="modal-body">
                     <div class="form-group">
                         <label for="imageProjet" class="text-dark mb-2">Image du projet</label>
                         <input type="text" class="form-control mb-2" name="imageProjet" id="imageProjet"
                             placeholder="Image du projet">
                     </div>

                     <div class="form-group">
                         <label for="titreProjet" class="text-dark mb-2">Titre du projet</label>
                         <input type="text" class="form-control mb-2" name="titreProjet" id="titreProjet"
                             placeholder="Titre du projet">
                     </div>

                     <div class="form-group">
                         <label for="dateProjet" class="text-dark mb-2">Date du projet</label>
                         <input type="date" class="form-control mb-2" name="dateProjet" id="dateProjet">
                     </div>

                     <div class="form-group">
                         <label for="contentProjetC" class="text-dark mb-2">Description du projet</label>
                         <textarea rows="10" class="form-control mb-2" name="contentProjetC" id="contentProjetC"
                             placeholder="Description du projet"></textarea>
                     </div>

                     <div class="form-group mt-4 text-center">
                         <label class="text-dark mb-2">Projet privé ?</label>
                     </div>

                     <div class="form-group mb-1 text-center">
                         <input type="checkbox" id="checkBoxConfirmOuiC" value="oui">
                         <label class="form-check-label text-dark mr-2 mt-3" for="checkBoxConfirmOuiC">Oui</label>

                         <input class="mr-2" type="checkbox" id="checkBoxConfirmNonC" value="non">
                         <label class="form-check-label text-dark mr-2 mt-3" for="checkBoxConfirmNonC">Non</label>
                     </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="button" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Modifier un projet -->

 <!-- Modal Admin Modifier Article Blog -->
 <div class="modal fade" id="modif_article" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelModifArticle">Modifier l'article XXXX</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST">
                 <div class="modal-body">
                     <div class="form-group">
                         <label for="imageArticle" class="text-dark mb-2">Image de l'article</label>
                         <input type="text" class="form-control mb-2" name="imageArticle" id="imageArticle"
                             placeholder="Image de l'article">
                     </div>

                     <div class="form-group">
                         <label for="titreArticle" class="text-dark mb-2">Titre de l'article</label>
                         <input type="text" class="form-control mb-2" name="titreArticle" id="titreArticle"
                             placeholder="Titre de l'article">
                     </div>

                     <div class="form-group">
                         <label for="dateProjetC" class="text-dark mb-2">Date de l'article</label>
                         <input type="date" class="form-control mb-2" name="dateProjetC" id="dateProjetC">
                     </div>

                     <div class="form-group">
                         <label for="contentProjet" class="text-dark mb-2">Description de l'article</label>
                         <textarea rows="10" class="form-control mb-2" name="contentProjet" id="contentProjet"
                             placeholder="Description de l'article"></textarea>
                     </div>

                     <div class="form-group mt-4 text-center">
                         <label class="text-dark mb-2">Article privé ?</label>
                     </div>

                     <div class="form-group mb-1 text-center">
                         <input type="checkbox" id="checkBoxConfirmOui" value="oui">
                         <label class="form-check-label text-dark mr-2 mt-3" for="checkBoxConfirmOui">Oui</label>

                         <input class="mr-2" type="checkbox" id="checkBoxConfirmNon" value="non">
                         <label class="form-check-label text-dark mr-2 mt-3" for="checkBoxConfirmNon">Non</label>
                     </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="button" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Ajout Article Blog -->

 <!-- Modal Admin Modif Membres -->
 <div class="modal fade" id="modif_membre" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelModifMembre">Modifier un membre</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST">
                 <div class="modal-body">
                     <div class="form-group">
                         <label for="nomA" class="text-dark mb-2">Nom du membre</label>
                         <input type="text" class="form-control mb-2" name="nomA" id="nomA" placeholder="Nom">
                     </div>

                     <div class="form-group">
                         <label for="prenomA" class="text-dark mb-2">Prénom du membre</label>
                         <input type="text" class="form-control mb-2" name="prenomA" id="prenomA" placeholder="Prénom">
                     </div>

                     <div class="form-group">
                         <label for="emailA" class="text-dark mb-2">Email du membre</label>
                         <input type="text" class="form-control mb-2" name="emailA" id="emailA"
                             placeholder="Adresse email">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Mot de passe du membre</label>
                         <input type="password" class="form-control mb-2" name="passwordA" id="passwordA"
                             placeholder="Mot de passe">
                     </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="button" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Ajout Article Blog -->

 <!-- Modal Admin Modifier une vidéo  -->
 <div class="modal fade" id="modif_video" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelLogin">Modifier une vidéo Youtube</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST">
                 <div class="modal-body">
                     <div class="form-group">
                         <label for="lienVideo" class="text-dark mb-2">Lien de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="lienVideo" id="lienVideo"
                             placeholder="Lien de la vidéo">
                     </div>

                     <div class="form-group">
                         <label for="titreVideo" class="text-dark mb-2">Titre de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="titreVideo" id="titreVideo"
                             placeholder="Titre de le vidéo">
                     </div>

                     <div class="form-group">
                         <label for="dateVideo" class="text-dark mb-2">Date de la vidéo</label>
                         <input type="date" class="form-control mb-2" name="dateVideo" id="dateVideo">
                     </div>

                     <div class="form-group">
                         <label for="contentProjet" class="text-dark mb-2">Description de la vidéo</label>
                         <textarea rows="10" class="form-control mb-2" name="contentVideo" id="contentVideo"
                             placeholder="Description de la vidéo"></textarea>
                     </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="button" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Modifier un projet -->

 <!-- Modal Admin Supression -->
 <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelDelete">Confirmer la suppression</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>

             <div class="modal-body">
                 <p class="mt-1">Êtes-vous sur de vouloirs supprimer ?</p>
             </div>

             <div class="modal-footer">
                 <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                 <button type="button" class="btn btn-form-send">Valider</button>
             </div>

         </div>
     </div>
 </div>
 <!-- Modal Admin Modifier un projet -->