<!-- Navbar -->
<div class="container" id="navbar_1">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-per text-center">
                <a href="/" class="btn btn-nav"><i class="fas fa-home"></i>Accueil</a>
                <a href="/#projet" class="btn btn-nav"><i class="fas fa-tag"></i>Projet</a>
                <a href="/#language" class="btn btn-nav"><i class="fab fa-html5"></i>Language</a>
                <a href="/#galerie" class="btn btn-nav"><i class="far fa-image"></i>Galerie</a>
                <a href="/#tuto" class="btn btn-nav"><i class="fab fa-youtube"></i>Tuto</a>
                <a href="/blog" class="btn btn-nav"><i class="far fa-newspaper"></i>Actu & Dev</a>
                <a href="#contact" class="btn btn-nav"><i class="fas fa-reply"></i>Contact</a>
                {{#if admin}}
                    <a href="/admin" class="btn btn-nav"><i class="fas fa-user-cog"></i>Admin</a>
                {{/if}}
                {{#if users}}
                <a href="/user/logout" class="btn btn-nav btn-nav">Déconnexion</a>
                {{else}}
                <a data-toggle="modal" data-target="#membres" class="btn btn-nav btn-nav"><i
                        class="fas fa-user"></i>Connexion</a>
                {{/if}}  
            </div>
        </div>
    </div>
</div>

<!-- Navbar flottant avec la condition d'écran -->
<div class="container" id="navbar_2">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-per2 text-center">
                <a href="/" class="btn btn-nav btn-nav2"><i class="fas fa-home"></i>Accueil</a>
                <a href="/#projet" class="btn btn-nav btn-nav2"><i class="fas fa-tag"></i>Projet</a>
                <a href="/#language" class="btn btn-nav btn-nav2"><i class="fab fa-html5"></i>Language</a>
                <a href="/#galerie" class="btn btn-nav btn-nav2"><i class="far fa-image"></i>Galerie</a>
                <a href="/#tuto" class="btn btn-nav btn-nav2"><i class="fab fa-youtube"></i>Tuto</a>
                <a href="/blog" class="btn btn-nav btn-nav2"><i class="far fa-newspaper"></i>Actu & Dev</a>
                <a href="#contact" class="btn btn-nav btn-nav2"><i class="fas fa-reply"></i>Contact</a>
                {{#if admin}}
                    <a href="/admin" class="btn btn-nav btn-nav2"><i class="fas fa-user-cog"></i>Admin</a>
                {{/if}}
                {{#if users}}
                <a href="/user/logout" class="btn btn-nav btn-nav2">Déconnexion</a>
                {{else}}
                <a data-toggle="modal" data-target="#membres" class="btn btn-nav btn-nav2"><i
                        class="fas fa-user"></i>Connexion</a>
                {{/if}}  
            </div>
        </div>
    </div>
</div>

<!-- Navbar Mobile -->
{{ navbar_mobile }}