<!-- Navbar -->
<div class="container" id="navbar_1">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-per text-center">
                <a href="/" class="btn btn-nav"><i class="fas fa-home"></i>Accueil</a>
                <a href="/#projet" class="btn btn-nav"><i class="fas fa-tag"></i>Projet</a>
                <a href="/#language" class="btn btn-nav"><i class="fab fa-html5"></i>Language</a>
                <a href="/#galerie" class="btn btn-nav"><i class="far fa-image"></i>Galerie</a>
                <a href="/#tuto" class="btn btn-nav"><i class="fab fa-youtube"></i>Tuto</a>
                <a href="/blog" class="btn btn-nav"><i class="far fa-newspaper"></i>Actu & Dev</a>
                <a href="#contact" class="btn btn-nav"><i class="fas fa-reply"></i>Contact</a>
                {{#if users}}
                <a href="/user/logout" class="btn btn-nav btn-nav"><i class="fas fa-reply"></i>Déconnexion</a>
                {{else}}
                <a data-toggle="modal" data-target="#membres" class="btn btn-nav btn-nav"><i
                        class="fas fa-user"></i>Connexion</a>
                {{/if}}  
            </div>
        </div>
    </div>
</div>

<div class="container" id="navbar_2">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-per2 text-center">
                <a href="/" class="btn btn-nav btn-nav2"><i class="fas fa-home"></i>Accueil</a>
                <a href="/#projet" class="btn btn-nav btn-nav2"><i class="fas fa-tag"></i>Projet</a>
                <a href="/#language" class="btn btn-nav btn-nav2"><i class="fab fa-html5"></i>Language</a>
                <a href="/#galerie" class="btn btn-nav btn-nav2"><i class="far fa-image"></i>Galerie</a>
                <a href="/#tuto" class="btn btn-nav btn-nav2"><i class="fab fa-youtube"></i>Tuto</a>
                <a href="/blog" class="btn btn-nav btn-nav2"><i class="far fa-newspaper"></i>Actu & Dev</a>
                <a href="#contact" class="btn btn-nav btn-nav2"><i class="fas fa-reply"></i>Contact</a>
                {{#if users}}
                <a href="/user/logout" class="btn btn-nav btn-nav2"><i class="fas fa-reply"></i>Déconnexion</a>
                {{else}}
                <a data-toggle="modal" data-target="#membres" class="btn btn-nav btn-nav2"><i
                        class="fas fa-user"></i>Connexion</a>
                {{/if}}  
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="nav-mob">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="btn btn-nav btn-mob nav-link dropdown-toggle" href="#" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fab fa-accusoft"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/"><i class="fas fa-home"></i>Accueil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#connaissances"><i
                                    class="far fa-comment"></i>Connaissances</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#projet"><i class="fas fa-tag"></i>Projet</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#language"><i class="fab fa-html5"></i>Language</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#galerie"><i class="far fa-image"></i>Galerie</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#tuto"><i class="fab fa-youtube"></i>Tuto</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/blog"><i class="far fa-newspaper"></i>Actu &
                                Dev</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#contact"><i class="fas fa-reply"></i>Contact</a>
                            <div class="dropdown-divider"></div>
                            {{#if users}}
                            <a class="dropdown-item" href="/user/logout"><i class="fas fa-reply"></i>Déconnexion</a>
                            {{else}}
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#membres"><i
                                    class="fas fa-user"></i>Connexion</a>
                            {{/if}}
                        </div>
                    </li>

                    <li>
                        <div class="header-search header-search-mob" style="display: inline-block;">
                            <i class="fas fa-search"></i>
                            <input type="text" class="form-control" placeholder="Faites votre recherche"
                                aria-label="search">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Navbar -->