<!-- Notification -->
<!-- <div class="fixed-top">
    <div aria-live="polite" aria-atomic="true" style="position: relative;">
        
        <div style="position: absolute; top: 5px; right: 7px;">


            <div id="message_valide" class="toast" data-delay="600000" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">

                    <strong class="mr-auto"><i class="fas fa-bell"></i> Notification de message</strong>
                    <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
                </div>
                <div class="toast-body">
                    Merci de votre message, je ne manquerais pas de vous répondre !
                </div>
            </div>

            <div id="message_erreur" class="toast" data-delay="600000" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">

                    <strong class="mr-auto"><i class="fas fa-bell"></i> Notification de message</strong>
                    <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
                </div>
                <div class="toast-body">
                    Une erreur s'est produit merci de recommencer !
                </div>
            </div>

        </div>
    </div>
</div> -->
<!-- Notification -->