<!-- Section 5 -->
<section>
        <div class="w-100 mt-2 p-4" id="tuto">
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <p class="title-h">Les tutos Youtube</p>
                    <hr class="h-2 bg-light">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 mt-2">
                            <div class="card">
                                <iframe class="card-img-top card-yt" src="https://www.youtube.com/embed/Y80juYcu3ZI" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">COURS COMPLET HTML ET CSS 1 - Présentation du cours</h5>
                                    <p class="card-text">L'HyperText Markup Language, HTML, désigne un type de langage informatique descriptif. Il s'agit plus précisément d'un format de données utilisé dans l'univers d'Internet pour la mise en forme des pages Web.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>18 déc. 2015</span></div>
                                    <div class="card-btn"><a href="https://www.youtube.com/embed/Y80juYcu3ZI" class="btn btn-cards-yt">Voir la vidéo</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-2">
                            <div class="card">
                                <iframe class="card-img-top card-yt" src="https://www.youtube.com/embed/Q__MVPY2Prw" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">COURS COMPLET HTML ET CSS 2 - Pourquoi apprendre à coder ?</h5>
                                    <p class="card-text">L'HyperText Markup Language, HTML, désigne un type de langage informatique descriptif. Il s'agit plus précisément d'un format de données utilisé dans l'univers d'Internet pour la mise en forme des pages Web.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>18 déc. 2015</span></div>
                                    <div class="card-btn"><a href="https://www.youtube.com/embed/Q__MVPY2Prw" class="btn btn-cards-yt">Voir la vidéo</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-2">
                            <div class="card">
                                <iframe class="card-img-top card-yt" src="https://www.youtube.com/embed/dlE4EUXU09s" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">COURS COMPLET HTML ET CSS 3 - Définitions et rôles</h5>
                                    <p class="card-text">L'HyperText Markup Language, HTML, désigne un type de langage informatique descriptif. Il s'agit plus précisément d'un format de données utilisé dans l'univers d'Internet pour la mise en forme des pages Web.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>18 déc. 2015</span></div>
                                    <div class="card-btn"><a href="https://www.youtube.com/embed/dlE4EUXU09s" class="btn btn-cards-yt">Voir la vidéo</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <iframe class="card-img-top card-yt" src="https://www.youtube.com/embed/y1MkakQdM64" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">COURS COMPLET HTML ET CSS 4 - Versions HTML et CSS</h5>
                                    <p class="card-text">L'HyperText Markup Language, HTML, désigne un type de langage informatique descriptif. Il s'agit plus précisément d'un format de données utilisé dans l'univers d'Internet pour la mise en forme des pages Web.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>18 déc. 2015</span></div>
                                    <div class="card-btn"><a href="https://www.youtube.com/embed/y1MkakQdM64" class="btn btn-cards-yt">Voir la vidéo</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <iframe class="card-img-top card-yt" src="https://www.youtube.com/embed/zlzep1X9Jn8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">COURS COMPLET HTML ET CSS 5 - Travail en local et en production</h5>
                                    <p class="card-text">L'HyperText Markup Language, HTML, désigne un type de langage informatique descriptif. Il s'agit plus précisément d'un format de données utilisé dans l'univers d'Internet pour la mise en forme des pages Web.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>18 déc. 2015</span></div>
                                    <div class="card-btn"><a href="https://www.youtube.com/embed/zlzep1X9Jn8" class="btn btn-cards-yt">Voir la vidéo</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <iframe class="card-img-top card-yt" src="https://www.youtube.com/embed/PHo6D9qD0GM" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">COURS COMPLET HTML ET CSS 6 - L'éditeur de texte</h5>
                                    <p class="card-text">L'HyperText Markup Language, HTML, désigne un type de langage informatique descriptif. Il s'agit plus précisément d'un format de données utilisé dans l'univers d'Internet pour la mise en forme des pages Web.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>18 déc. 2015</span></div>
                                    <div class="card-btn"><a href="https://www.youtube.com/embed/PHo6D9qD0GM" class="btn btn-cards-yt">Voir la vidéo</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 5 -->