    <!-- Section 6 -->
<div class="w-100 p-4" id="article">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <p class="title-h">Les derniers articles de mon blog</p>
                <hr class="h-2 bg-light">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#article0" role="tab" aria-controls="article0"><i class="fas fa-chevron-right"></i> Le premier article de mon blog</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#article1" role="tab" aria-controls="article1"><i class="fas fa-chevron-right"></i> Le deuxième article de mon blog</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#article2" role="tab" aria-controls="article2"><i class="fas fa-chevron-right"></i> Le troisième article de mon blog</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#article3" role="tab" aria-controls="article3"><i class="fas fa-chevron-right"></i> Le quatrième article de mon blog</a>
                </div>
            </div>
            <div class="col-md-8 mt-1">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="article0" role="tabpanel">
                        <div class="tab-title">Le premier article de mon blog</div>
                        <div class="tab-img"></div>
                        <p class="p-2">
                            Ut ut do pariatur aliquip aliqua aliquip exercitation do nostrud commodo reprehenderit aute ipsum voluptate. Irure Lorem et laboris nostrud amet cupidatat cupidatat anim do ut velit mollit consequat enim tempor. Consectetur est minim nostrud nostrud consectetur
                            irure labore voluptate irure. Ipsum id Lorem sit sint voluptate est pariatur eu ad cupidatat et deserunt culpa sit eiusmod deserunt. Consectetur et fugiat anim do eiusmod aliquip nulla laborum elit adipisicing pariatur cillum.
                        </p>
                        <div class="tab-icon p-2">
                            <div><i class="fas fa-edit"></i> <span>Mise en ligne : Jeudi 22 décembre 2020</span></div>
                            <div class="mt-1"><i class="fas fa-user"></i> <span class="tab-user">Posté par Gaëtan</span>
                            </div>
                        </div>
                        <div class="tab-btn p-2"><a href="" class="btn btn-tab">Lire la suite de l'article</a></div>
                    </div>
                    <div class="tab-pane fade" id="article1" role="tabpanel">
                        <div class="tab-title">Le deuxième article de mon blog</div>
                        <div class="tab-img"></div>
                        <p class="p-2">
                            Ut ut do pariatur aliquip aliqua aliquip exercitation do nostrud commodo reprehenderit aute ipsum voluptate. Irure Lorem et laboris nostrud amet cupidatat cupidatat anim do ut velit mollit consequat enim tempor. Consectetur est minim nostrud nostrud consectetur
                            irure labore voluptate irure. Ipsum id Lorem sit sint voluptate est pariatur eu ad cupidatat et deserunt culpa sit eiusmod deserunt. Consectetur et fugiat anim do eiusmod aliquip nulla laborum elit adipisicing pariatur cillum.
                        </p>
                        <div class="tab-icon p-2">
                            <div><i class="fas fa-edit"></i> <span>Mise en ligne : Jeudi 22 décembre 2020</span></div>
                            <div class="mt-1"><i class="fas fa-user"></i> <span class="tab-user">Posté par Gaëtan</span>
                            </div>
                        </div>
                        <div class="tab-btn p-2"><a href="" class="btn btn-tab">Lire la suite de l'article</a></div>
                    </div>
                    <div class="tab-pane fade" id="article2" role="tabpanel">
                        <div class="tab-title">Le troisième article de mon blog</div>
                        <div class="tab-img"></div>
                        <p class="p-2">
                            Ut ut do pariatur aliquip aliqua aliquip exercitation do nostrud commodo reprehenderit aute ipsum voluptate. Irure Lorem et laboris nostrud amet cupidatat cupidatat anim do ut velit mollit consequat enim tempor. Consectetur est minim nostrud nostrud consectetur
                            irure labore voluptate irure. Ipsum id Lorem sit sint voluptate est pariatur eu ad cupidatat et deserunt culpa sit eiusmod deserunt. Consectetur et fugiat anim do eiusmod aliquip nulla laborum elit adipisicing pariatur cillum.
                        </p>
                        <div class="tab-icon p-2">
                            <div><i class="fas fa-edit"></i> <span>Mise en ligne : Jeudi 22 décembre 2020</span></div>
                            <div class="mt-1"><i class="fas fa-user"></i> <span class="tab-user">Posté par Gaëtan</span>
                            </div>
                        </div>
                        <div class="tab-btn p-2"><a href="" class="btn btn-tab">Lire la suite de l'article</a></div>
                    </div>
                    <div class="tab-pane fade" id="article3" role="tabpanel">
                        <div class="tab-title">Le quatrième article de mon blog</div>
                        <div class="tab-img"></div>
                        <p class="p-2">
                            Ut ut do pariatur aliquip aliqua aliquip exercitation do nostrud commodo reprehenderit aute ipsum voluptate. Irure Lorem et laboris nostrud amet cupidatat cupidatat anim do ut velit mollit consequat enim tempor. Consectetur est minim nostrud nostrud consectetur
                            irure labore voluptate irure. Ipsum id Lorem sit sint voluptate est pariatur eu ad cupidatat et deserunt culpa sit eiusmod deserunt. Consectetur et fugiat anim do eiusmod aliquip nulla laborum elit adipisicing pariatur cillum.
                        </p>
                        <div class="tab-icon p-2">
                            <div><i class="fas fa-edit"></i> <span>Mise en ligne : Jeudi 22 décembre 2020</span></div>
                            <div class="mt-1"><i class="fas fa-user"></i> <span class="tab-user">Posté par Gaëtan</span>
                            </div>
                        </div>
                        <div class="tab-btn p-2"><a href="" class="btn btn-tab">Lire la suite de l'article</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section 6 -->