<!-- Section 2 -->
<section>
        <div class="w-100 mt-2 p-4">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <p class="title-h">Mes projets personnels</p>
                    <hr class="h-2 bg-light">
                </div>
            </div>
        </div>

        <div class="container" id="projet">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <img class="card-img-top" src="assets/images/projets/over-games.png" alt="Over Games">
                                <div class="card-body">
                                    <h5 class="card-title">OVER-GAMES</h5>
                                    <div class="card-icon">
                                        <a href="" title="J'aime le projet">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <a href="" title="Masquer le projet">
                                            <i class="fas fa-reply"></i>
                                        </a>
                                    </div>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>15/02/2017</span></div>
                                    <div class="card-btn"><a href="https://over-games.fr" class="btn btn-cards">Voir le projet</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <img class="card-img-top" src="assets/images/projets/games-actus.png" alt="Games Actus">
                                <div class="card-body">
                                    <h5 class="card-title">GAMES-ACTUS</h5>
                                    <div class="card-icon">
                                        <a href="" title="J'aime le projet">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <a href="" title="Masquer le projet">
                                            <i class="fas fa-reply"></i>
                                        </a>
                                    </div>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>10/05/2020</span></div>
                                    <div class="card-btn"><a href="https://games-actus.fr" class="btn btn-cards">Voir le projet</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <img class="card-img-top" src="assets/images/projets/assassin-creed.png" alt="Assassin creed">
                                <div class="card-body">
                                    <h5 class="card-title">ASSASSIN CREED VALHALLA</h5>
                                    <div class="card-icon">
                                        <a href="" title="J'aime le projet">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <a href="" title="Masquer le projet">
                                            <i class="fas fa-reply"></i>
                                        </a>
                                    </div>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>15/08/2020</span></div>
                                    <div class="card-btn"><a href="https://assassin-creed-valhalla.over-games.fr/" class="btn btn-cards">Voir le projet</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <img class="card-img-top" src="assets/images/projets/over-games-news.png" alt="Over Games News">
                                <div class="card-body">
                                    <h5 class="card-title">OVER GAMES NEWS</h5>
                                    <div class="card-icon">
                                        <a href="" title="J'aime le projet">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <a href="" title="Masquer le projet">
                                            <i class="fas fa-reply"></i>
                                        </a>
                                    </div>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>31/11/2020</span></div>
                                    <div class="card-btn"><a href="http://gaetan.store" class="btn btn-cards">Voir le projet</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <img class="card-img-top" src="assets/images/projets/chat.png" alt="Chat">
                                <div class="card-body">
                                    <h5 class="card-title">PROGRAMME CHAT SUR LINUX</h5>
                                    <div class="card-icon">
                                        <a href="" title="J'aime le projet">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <a href="" title="Masquer le projet">
                                            <i class="fas fa-reply"></i>
                                        </a>
                                    </div>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>25/11/2020</span></div>
                                    <div class="card-btn"><a href="https://github.com/gaetanarinfo/Perso_Chat/tree/main/T%C3%A9l%C3%A9chargement" class="btn btn-cards">Voir le projet</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <img class="card-img-top" src="assets/images/projets/flex-site.png" alt="Flex site">
                                <div class="card-body">
                                    <h5 class="card-title">FLEX SITE</h5>
                                    <div class="card-icon">
                                        <a href="" title="J'aime le projet">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <a href="" title="Masquer le projet">
                                            <i class="fas fa-reply"></i>
                                        </a>
                                    </div>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-date"><i class="far fa-calendar-alt"></i> <span>25/10/2020</span></div>
                                    <div class="card-btn"><a href="https://github.com/gaetanarinfo/Perso_Chat/tree/main/T%C3%A9l%C3%A9chargement" class="btn btn-cards">Voir le projet</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 2 -->