<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Administration du site internet</title>
    <meta name="description" content="Administration du site internet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">

</head>

<body>

    {{> admin/display_admin }}

    {{> admin/menu_admin }}

    {{> admin/admin_mobile }}

    {{> admin/modal/modal_admin }}

    <!-- js icons -->
    <script src="/vendor/icons/9d1d83a1dd.js"></script>

    <!-- Bootstrap JS -->
    <script src="/vendor/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Js perso -->
    <script src="/admin/js/index.js"></script>

</body>

</html>