<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portfolio de Gaëtan Seigneur</title>
    <meta name="description" content="Portfolio de Gaëtan Seigneur">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

{{> header}}

{{> navbar}}

{{{body}}}

​{{> footer}}

</body>