<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Administration du site internet</title>
    <meta name="description" content="Administration du site internet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/admin.css">

</head>

<body>

    {{> display_admin }}

    {{> menu_admin }}

    {{> admin_mobile }}

    {{> modal_admin }}

    <!-- js icons -->
    <script src="assets/vendor/icons/9d1d83a1dd.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/vendor/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="assets/vendor/bootstrap/js/popper.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Js perso -->
    <script src="assets/admin/js/index.js"></script>

</body>

</html>