<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <meta name="description" content="{{content}}">
    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

{{> header}}

{{> navbar}}

{{{body}}}

​{{notifications}}

​{{> footer}}

</body>