<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio de Gaëtan Seigneur</title>
    <meta name="description" content="Mon portfolio professionnel, retrouvé ici mes compétences, les derniers articles de mon blog, mes tutoriels et tant d'autres choses.">

     <!-- CSS -->
    <link rel="stylesheet" href="/css/preloader.css">

</head>

<body>

    {{> preloader }}

    <script src="/js/preloader.js"></script>

</body>

</html>