<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page non trouvée</title>
    <meta name="description" content="Page non trouvée">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" media="all" href="https://www.smile.eu/sites/default/files/css/css_OIzBRxciYG74p5zSuRGfzMOMmxX2w4G6eJ9zFXXGLgE.css" />
<link rel="stylesheet" media="all" href="https://www.smile.eu/sites/default/files/css/css_YmJFzsnmVw3YS-JY7MIgF29v2WQw58uJ0qYByH8j0Sk.css" />

</head>

<body>

<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <div role="main">

  <div class="block-404 night">

    <div class="content-text">
      <div class="big-404">404</div>
      <div class="oops">Oops !</div>
      <div class="you-lost">Il semblerait que vous soyez perdu</div>
      <div class="you-heat">mais vous chauffez</div>
      <a href="/" id="backToEarth" class="btn white empty arrow-right">Revenir sur terre</a>
    </div>

    <div class="little-star blue n1"></div>
    <div class="little-star n2"></div>
    <div class="little-star n3"></div>
    <div class="little-star orange n4"></div>
    <div class="big-star n1"></div>
    <div class="big-star n2"></div>
    <div class="big-star n3"></div>
    <div class="big-star n4"></div>
    <div class="big-star n5"></div>
    <div class="big-star orange n6"></div>
    <div class="big-star green n7"></div>
    <div class="big-star blue n8"></div>
    <div class="micro-planet green n1"></div>
    <div class="micro-planet blue n2"></div>
    <div class="micro-planet n3"></div>
    <div class="micro-planet n4"></div>
    <div class="micro-planet n5"></div>
    <div class="rocket"></div>
    <div class="okay"></div>
    <div class="peace"></div>
    <div class="rainbow"></div>
    <div class="planet"></div>
    <div class="cloud yellow-cloud"></div>
    <div class="cloud n1"></div>
    <div class="cloud n2"></div>
    <div class="cloud n3"></div>
    <div class="cloud n4"></div>
    <div class="cloud n5"></div>
    <div class="ligthning"></div>
    <div class="mini-planet n2"></div>
    <div class="mini-planet n1"></div>
    <div class="alien"></div>
    <div class="moon"></div>
    <div class="sun"></div>

  </div>
</div>
  </div>

    <div class="w-100 p-4">
        <div class="row justify-content-center">
            
        </div>
    </div>

    <?php include_once 'view/notification.php'; ?>

    <?php include_once 'view/modal/modal_membre.php'; ?>

    <!-- js icons -->
    <script src="assets/vendor/icons/9d1d83a1dd.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/vendor/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="assets/vendor/bootstrap/js/popper.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="assets/js/script.js"></script>

</body>

</html>