<div class="w-100 p-4">
        <div class="row justify-content-center">
            <div class="article-head">
                <div class="article-body">
                    <div class="article-avatar mr-20">
                        <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                            alt="Gaëtan Seigneur" class="rounded-circle ml-5">
                    </div>
                    <div class="article-author">
                        <div><i class="fas fa-user ml-3"></i><span>Posté par Gaëtan Seigneur</span></div>
                        <div><i class="fas fa-user-cog ml-2"></i><span>Administrateur</span></div>
                        <div><i class="far fa-calendar-alt ml-3"></i><span>23/02/2020</span></div>
                        <div><i class="far fa-comment ml-3"></i><span>0 Commantaire(s)</span></div>
                    </div>
                </div>
            </div>

            <div class="article">
                <div class="article-title">
                    <p><i class="fas fa-tag ml-3"></i>Titre de l'article du blog</p>
                </div>

                <hr>

                <div class="article-content">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, ipsa illo quidem ut earum
                        asperiores maxime quibusdam dolores. Dolores quos consectetur neque totam, sequi nemo sed
                        temporibus nihil nesciunt similique?
                        Quae odio sapiente illo ab quaerat autem sint, quos a incidunt voluptatum at assumenda, optio
                        magnam odit natus blanditiis. Saepe culpa cumque expedita exercitationem cupiditate, inventore
                        numquam hic eveniet corrupti?
                        Blanditiis aliquid optio laboriosam quo odit? Fugit, doloribus consequuntur. Earum tempora
                        reiciendis nostrum delectus incidunt blanditiis, optio expedita, ullam praesentium quas porro
                        maxime animi aliquam velit recusandae, a veritatis nobis?
                        Voluptatum eveniet voluptatem impedit eligendi dolorum perspiciatis quas ipsa qui est possimus
                        eos sunt ad ea corrupti, laborum consequatur omnis culpa dicta ducimus? Molestiae minus dicta
                        modi. Nobis, dolore illum!
                        Numquam, fugit, ipsum sint dignissimos corrupti veritatis expedita, provident vel repellendus
                        atque maxime sunt alias! Quo neque at asperiores error nulla doloremque, voluptatibus assumenda
                        aperiam, pariatur provident, optio voluptas quia.
                        Porro deserunt in tempora dicta maxime exercitationem totam. Ad nemo eveniet non tempora a
                        reiciendis totam voluptatum neque, adipisci, consequuntur fugiat eius ut amet numquam
                        necessitatibus accusamus repellat culpa voluptate.
                        Vel modi ullam rerum nobis est nostrum suscipit dolore a facilis, officiis soluta tempora
                        molestiae. Cum velit quia hic blanditiis architecto labore possimus, porro commodi neque a unde
                        molestias laborum?
                        Magni corporis ipsum repellat, repellendus nam tenetur. Amet quas cumque praesentium quidem
                        asperiores ea quod consectetur repudiandae voluptatem expedita commodi consequuntur, sint
                        deserunt natus sit, adipisci, sapiente nisi aperiam aut.
                        Reprehenderit dignissimos repellendus saepe at. Omnis voluptates doloribus illo illum natus,
                        nisi nesciunt distinctio sed tenetur quis, officia aliquid eligendi labore praesentium
                        cupiditate iusto? Fugit et accusantium odio itaque esse?
                        Iusto soluta necessitatibus at, amet ad cum deleniti nihil porro fugiat! Minus odit distinctio
                        officia eligendi veritatis recusandae velit est praesentium maxime optio ab eos, aliquid
                        delectus commodi nostrum cumque.
                        Suscipit reprehenderit corrupti ea quia eum vitae doloremque officiis debitis et tempore laborum
                        sapiente libero, vel facere eaque enim, numquam maxime, nobis ipsam. Saepe, amet totam
                        doloremque molestiae vitae dignissimos?
                        Tenetur quisquam corporis labore voluptatem nemo consequatur, quaerat ea aliquam vitae
                        asperiores unde perspiciatis ipsa officiis veniam eligendi, quasi dolorum facere illo.
                        Aspernatur necessitatibus placeat nihil, nobis rem fugiat dolor.
                        Sequi beatae amet possimus aspernatur nobis quaerat placeat repellendus maxime inventore sit eum
                        harum doloremque, doloribus similique accusantium porro nesciunt quia molestias labore? Aliquid
                        possimus temporibus fuga repudiandae, ratione cupiditate!
                        Quia repellendus ab illo labore itaque, quae error accusamus optio laborum voluptatem deserunt
                        inventore tenetur commodi sapiente expedita porro suscipit voluptas, alias consectetur rem
                        voluptates nesciunt. Eaque quisquam ab animi.
                        Omnis et facilis velit exercitationem nemo nostrum molestiae, repellat minima officia minus,
                        reiciendis deserunt corrupti assumenda expedita amet soluta consequatur. Dicta consequuntur
                        quidem deleniti quos veniam dolorum aut molestiae cumque!
                        Delectus deleniti maiores non nihil, molestiae distinctio neque in dolores! Ut doloremque
                        dolorem illum laborum. Esse, debitis. Inventore doloribus obcaecati rerum odit perspiciatis
                        cupiditate sit eveniet corporis et eum. Quod!
                        Unde, magni possimus. Non qui eum fugiat quia. Quibusdam atque consectetur possimus esse maxime
                        maiores minus officia quae, aut beatae sit, mollitia tenetur eius cum perferendis nobis
                        provident laboriosam commodi.
                        Esse eveniet quam sit nam non. Illum veniam, corrupti provident ut maxime rem iusto molestias
                        necessitatibus dolorum consequatur placeat. Amet distinctio rerum accusamus excepturi
                        consequatur nihil facilis cum cupiditate vitae?
                        Ratione hic alias a fuga? Optio quod nihil nulla fugiat cum quisquam consequatur voluptate,
                        cumque aperiam corrupti eum. Delectus explicabo labore eveniet blanditiis libero a quas
                        laboriosam nostrum possimus debitis!
                        Maxime nesciunt harum ratione ab consequuntur voluptates, blanditiis rerum. Vero eum sunt
                        excepturi distinctio suscipit laudantium consequatur tempora! Sapiente officiis excepturi minima
                        laborum libero perferendis et sunt. Excepturi, rerum quo.</p>
                </div>

                <hr>

                <div class="article-social">
                    <p>Partager cet article</p>
                    <a class="ml-3" href="" data-toggle="tooltip" data-placement="top" title="Partager sur Facebook"><i
                            class="fab fa-facebook-square"></i></a>
                    <a class="ml-3" href="" data-toggle="tooltip" data-placement="top" title="Partager sur Twitter"><i
                            class="fab fa-twitter-square"></i></a>
                    <a href="" data-toggle="tooltip" data-placement="top" title="Partager sur Instagram"><i
                            class="fab fa-instagram-square"></i></a>
                </div>

                <hr>

                <div class="article-comment">
                
                    <p class="comment-count">Commentaire(s) 0</p>

                    <div class="box-comment" id="comment-1">    
                        <div class="comment-profil">
                            <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                                alt="Gaëtan Seigneur" class="rounded-circle ml-3">

                            <div class="comment-author">
                                <span>Seigneur Gaëtan</span>
                                <p class="comment-date">
                                    <span>Le vendredi 6 janvier 2020 à 08h50</span>
                                </p>
                            </div>
                        </div>

                        <div class="comment-content mt-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure commodi dignissimos inventore
                            voluptatem sit molestiae voluptates eveniet tenetur facilis error maxime magni, exercitationem
                            quis, ab mollitia ex, doloribus minus quod.
                        </div>
                    </div>

                    <div class="box-comment" id="comment-2">
                        <div class="comment-profil">
                            <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                                alt="Gaëtan Seigneur" class="rounded-circle ml-3">

                            <div class="comment-author">
                                <span>Seigneur Gaëtan</span>
                                <p class="comment-date">
                                    <span>Le vendredi 6 janvier 2020 à 08h50</span>
                                </p>
                            </div>
                        </div>

                        <div class="comment-content mt-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure commodi dignissimos inventore
                            voluptatem sit molestiae voluptates eveniet tenetur facilis error maxime magni, exercitationem
                            quis, ab mollitia ex, doloribus minus quod.
                        </div>
                    </div>
                </div>

                <div class="box-reply">

                    <p class="reply-title">Poster un commentaire</p>

                    <p class="reply-sub">Commentaire :</p>

                    <form id="form_reply" action="" method="POST">
                        <textarea class="mt-n2" rows="8" id="contentA" name="contentA"></textarea>

                        <button class="btn btn-form-send mt-3">Poster le commentaire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>