<div class="w-100 p-4">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <p class="title-h">Mon blog personnel</p>
                <hr class="h-2 bg-light">
            </div>
        </div>
    </div>

    <!-- Card Article -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <!-- Card Article 1 -->
                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <div class="card-header card-header-f">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                                        alt="Gaëtan Seigneur" class="rounded-circle w-20">
                                    <div class="d-inline-block mr-2 position-relative card-profil">
                                        <span><i class="far fa-user ml-2" aria-hidden="true"></i>Seigneur Gaëtan</span>
                                        <span class="d-block"><i class="far fa-calendar-alt ml-2"
                                                aria-hidden="true"></i>20/02/2020</span>
                                        <span class="d-block"><i class="far fa-comment ml-1"></i> 0
                                            commentaire(s)</span>
                                    </div>
                                </div>
                                <div class="card-header p-0">
                                    <img class="card-img-top w-100" src="/images/projets/over-games.png"
                                        alt="Titre de l'article">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Titre de l'article</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar
                                        lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante
                                        ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam
                                        fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-btn"><a href="" class="btn btn-cards">Lire la suite</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Article 2 -->
                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <div class="card-header card-header-f">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                                        alt="Gaëtan Seigneur" class="rounded-circle w-20">
                                    <div class="d-inline-block mr-2 position-relative card-profil">
                                        <span><i class="far fa-user ml-2" aria-hidden="true"></i>Seigneur Gaëtan</span>
                                        <span class="d-block"><i class="far fa-calendar-alt ml-2"
                                                aria-hidden="true"></i>20/02/2020</span>
                                        <span class="d-block"><i class="far fa-comment ml-1"></i> 0
                                            commentaire(s)</span>
                                    </div>
                                </div>
                                <div class="card-header p-0">
                                    <img class="card-img-top w-100" src="/images/projets/over-games.png"
                                        alt="Titre de l'article">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Titre de l'article</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar
                                        lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante
                                        ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam
                                        fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-btn"><a href="" class="btn btn-cards">Lire la suite</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Article 3 -->
                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <div class="card-header card-header-f">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                                        alt="Gaëtan Seigneur" class="rounded-circle w-20">
                                    <div class="d-inline-block mr-2 position-relative card-profil">
                                        <span><i class="far fa-user ml-2" aria-hidden="true"></i>Seigneur Gaëtan</span>
                                        <span class="d-block"><i class="far fa-calendar-alt ml-2"
                                                aria-hidden="true"></i>20/02/2020</span>
                                        <span class="d-block"><i class="far fa-comment ml-1"></i> 0
                                            commentaire(s)</span>
                                    </div>
                                </div>
                                <div class="card-header p-0">
                                    <img class="card-img-top w-100" src="/images/projets/over-games.png"
                                        alt="Titre de l'article">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Titre de l'article</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar
                                        lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante
                                        ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam
                                        fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-btn"><a href="" class="btn btn-cards">Lire la suite</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Article 1 -->
                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <div class="card-header card-header-f">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                                        alt="Gaëtan Seigneur" class="rounded-circle w-20">
                                    <div class="d-inline-block mr-2 position-relative card-profil">
                                        <span><i class="far fa-user ml-2" aria-hidden="true"></i>Seigneur Gaëtan</span>
                                        <span class="d-block"><i class="far fa-calendar-alt ml-2"
                                                aria-hidden="true"></i>20/02/2020</span>
                                        <span class="d-block"><i class="far fa-comment ml-1"></i> 0
                                            commentaire(s)</span>
                                    </div>
                                </div>
                                <div class="card-header p-0">
                                    <img class="card-img-top w-100" src="/images/projets/over-games.png"
                                        alt="Titre de l'article">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Titre de l'article</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar
                                        lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante
                                        ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam
                                        fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-btn"><a href="" class="btn btn-cards">Lire la suite</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Article 2 -->
                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <div class="card-header card-header-f">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                                        alt="Gaëtan Seigneur" class="rounded-circle w-20">
                                    <div class="d-inline-block mr-2 position-relative card-profil">
                                        <span><i class="far fa-user ml-2" aria-hidden="true"></i>Seigneur Gaëtan</span>
                                        <span class="d-block"><i class="far fa-calendar-alt ml-2"
                                                aria-hidden="true"></i>20/02/2020</span>
                                        <span class="d-block"><i class="far fa-comment ml-1"></i> 0
                                            commentaire(s)</span>
                                    </div>
                                </div>
                                <div class="card-header p-0">
                                    <img class="card-img-top w-100" src="/images/projets/over-games.png"
                                        alt="Titre de l'article">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Titre de l'article</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar
                                        lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante
                                        ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam
                                        fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-btn"><a href="" class="btn btn-cards">Lire la suite</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Article 3 -->
                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <div class="card-header card-header-f">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                                        alt="Gaëtan Seigneur" class="rounded-circle w-20">
                                    <div class="d-inline-block mr-2 position-relative card-profil">
                                        <span><i class="far fa-user ml-2" aria-hidden="true"></i>Seigneur Gaëtan</span>
                                        <span class="d-block"><i class="far fa-calendar-alt ml-2"
                                                aria-hidden="true"></i>20/02/2020</span>
                                        <span class="d-block"><i class="far fa-comment ml-1"></i> 0
                                            commentaire(s)</span>
                                    </div>
                                </div>
                                <div class="card-header p-0">
                                    <img class="card-img-top w-100" src="/images/projets/over-games.png"
                                        alt="Titre de l'article">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Titre de l'article</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar
                                        lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante
                                        ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam
                                        fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-btn"><a href="" class="btn btn-cards">Lire la suite</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Article 1 -->
                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <div class="card-header card-header-f">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                                        alt="Gaëtan Seigneur" class="rounded-circle w-20">
                                    <div class="d-inline-block mr-2 position-relative card-profil">
                                        <span><i class="far fa-user ml-2" aria-hidden="true"></i>Seigneur Gaëtan</span>
                                        <span class="d-block"><i class="far fa-calendar-alt ml-2"
                                                aria-hidden="true"></i>20/02/2020</span>
                                        <span class="d-block"><i class="far fa-comment ml-1"></i> 0
                                            commentaire(s)</span>
                                    </div>
                                </div>
                                <div class="card-header p-0">
                                    <img class="card-img-top w-100" src="/images/projets/over-games.png"
                                        alt="Titre de l'article">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Titre de l'article</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar
                                        lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante
                                        ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam
                                        fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-btn"><a href="" class="btn btn-cards">Lire la suite</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Article 2 -->
                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <div class="card-header card-header-f">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                                        alt="Gaëtan Seigneur" class="rounded-circle w-20">
                                    <div class="d-inline-block mr-2 position-relative card-profil">
                                        <span><i class="far fa-user ml-2" aria-hidden="true"></i>Seigneur Gaëtan</span>
                                        <span class="d-block"><i class="far fa-calendar-alt ml-2"
                                                aria-hidden="true"></i>20/02/2020</span>
                                        <span class="d-block"><i class="far fa-comment ml-1"></i> 0
                                            commentaire(s)</span>
                                    </div>
                                </div>
                                <div class="card-header p-0">
                                    <img class="card-img-top w-100" src="/images/projets/over-games.png"
                                        alt="Titre de l'article">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Titre de l'article</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar
                                        lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante
                                        ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam
                                        fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-btn"><a href="" class="btn btn-cards">Lire la suite</a></div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Article 3 -->
                        <div class="col-md-4 mt-3">
                            <div class="card">
                                <div class="card-header card-header-f">
                                    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                                        alt="Gaëtan Seigneur" class="rounded-circle w-20">
                                    <div class="d-inline-block mr-2 position-relative card-profil">
                                        <span><i class="far fa-user ml-2" aria-hidden="true"></i>Seigneur Gaëtan</span>
                                        <span class="d-block"><i class="far fa-calendar-alt ml-2"
                                                aria-hidden="true"></i>20/02/2020</span>
                                        <span class="d-block"><i class="far fa-comment ml-1"></i> 0
                                            commentaire(s)</span>
                                    </div>
                                </div>
                                <div class="card-header p-0">
                                    <img class="card-img-top w-100" src="/images/projets/over-games.png"
                                        alt="Titre de l'article">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Titre de l'article</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar
                                        lorem felis nec erat . Vivamus feugiat elit lorem, eu porttitor ante
                                        ultrices id.
                                        Phasellus suscipit tellus ante, nec dignissim elit imperdiet nec. Nullam
                                        fringilla feugiat nisl. </p>
                                </div>
                                <div class="card-footer">
                                    <div class="card-btn"><a href="" class="btn btn-cards">Lire la suite</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <ul class="pagination justify-content-center mt-1">
                                <li class="page-item"><a class="page-link" href="#"><i
                                            class="fas fa-angle-left"></i></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i
                                            class="fas fa-angle-right"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>