    ​{{> section/connaissances}}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="separator"></div>
            </div>
        </div>
    </div>

    {{> section/projets}}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="separator"></div>
            </div>
        </div>
    </div>

    {{> section/languages}}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="separator"></div>
            </div>
        </div>
    </div>

    {{> section/galeries}}

    <div class="container mt-1">
        <div class="row">
            <div class="col-md-12">
                <div class="separator"></div>
            </div>
        </div>
    </div>

    {{> section/tutos}}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="separator"></div>
            </div>
        </div>
    </div>

    {{> section/articles}}

    {{> modal/modal}}