<link rel="stylesheets" href="assets/css/password_recover.css">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card login-form">
        <div class="card-body">
          <h3 class="card-title text-center">
            Réinitialiser le mot de passe
          </h3>

          <div class="card-text">
            <form action="/reset-password/{{token}}" method="POST">
              <div class="form-group">
                <label class="mb-3">
                    Entrer votre nouveau mot de passe !
                </label>
                <input type="password" name="password" class="form-control form-control-sm" required placeholder="Mot de passe"/>
                <label class="mb-3 mt-3">
                    Confirmer votre nouveau mot de passe !
                </label>  
                <input type="password" name="password_confirm" class="form-control form-control-sm" required placeholder="Confirmer le Mot de passe"/>
                <input type="hidden" value="" name="token">
              </div>
              <button type="submit" class="btn btn-form-send">
                Valider
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal utilisateur INSCRIPTION, CONNEXION, MOT DE PASSE PERDU -->
{{> modal/modal}}