body {
    background-image: url("../admin/images/M1ba416c54e556d3bbfdfe12af78e2af11606749178037.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.separateur {
    margin: 1rem auto 2rem auto;
    width: 58%;
}

.container-menu-left {
    top: 0px;
    width: 271px;
    height: 100%;
    background-color: #00000038;
}

.card-profil p {
    font-size: 14px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.card-profil p i {
    font-size: 14px;
    color: white;
}

hr {
    margin: 0 auto;
    width: 90%;
    background-color: #f5f5f5;
}

.title-profil {
    color: white;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.menu-profil ul {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.menu-profil li a {
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

.menu-profil li a:hover {
    color: #ffffff67;
}

.cont {
    --bs-gutter-x: 0px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0 0;
}

.container-center {
    position: absolute;
    top: 15px;
    width: 100% !important;
}

.container-center p {
    position: relative;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.table-content {
    padding: 6px 0 6px 0 !important;
}

table tr th {
    font-size: 13px;
}

table .th-perso {
    padding: 14px 0px 0px 0px;
    height: 50px !important;
    font-size: 15px;
}

table a {
    color: #d4d4d4;
    transition: all 300ms;
}

table a:hover {
    color: #706b7080;
}

.page-item:first-child .page-link {
    background-color: #4f5152;
    border: 2px solid #656869;
    text-decoration: none;
}

.page-link {
    background-color: #4f5152;
    border: 2px solid #656869;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: 500ms;
}

.page-link:hover {
    background-color: #4f5152;
    border: 2px solid #656869;
    color: #ffffff9c;
}

.page-item:last-child .page-link {
    background-color: #4f5152;
    border: 2px solid #656869;
    text-decoration: none;
}

.list {
    display: none;
}

.container-list p {
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.list-group {
    width: 297px !important;
}

.list-group-item i {
    color: #000000a6 !important;
    transition: all 500ms;
}

.list-group-item i:hover {
    color: #0000003a;
}

@media only screen and (max-width: 400px) {
    body {
        background-position: center !important;
    }
    .container-menu-left {
        top: 0px !important;
        width: auto !important;
        height: 87vh !important;
        background-color: #00000038 !important;
    }
    .container-center {
        display: none !important;
    }
    .list {
        display: block !important;
        top: 42px !important;
    }
    .separateur {
        margin: 2rem auto 2rem auto !important;
    }
    .fixed-top {
        position: relative !important;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
    }
    .menu-1 {
        display: none;
    }
}

@media only screen and (max-width: 390px) {
    .container-menu-left {
        height: 54vh !important;
    }
}


/*# sourceMappingURL=admin.css.map */