<!-- Modal Membres -->
<div class="modal fade" id="membres" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabelLogin">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Connexion -->
            <form id="login-modal" method="POST" action="/user/auth">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-dark mb-2">Adresse email</label>
                        <input type="email" class="form-control mb-2" name="email" id="email" required
                            placeholder="Adresse email">
                        <small class="form-text text-muted">Adresse email obligatoire !</small>
                    </div>
                    <div class="form-group">
                        <label class="text-dark mb-2 mt-3">Mot de passe</label>
                        <input type="password" class="form-control mb-2" name="password" id="password" required
                            placeholder="Mot de passe">
                        <small class="form-text text-muted">Mot de passe obligatoire !</small>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="checkBoxConfirmLogin">
                        <label class="form-check-label text-dark mr-2 mt-3" for="checkBoxConfirmLogin">Se souvenir de
                            moi</label>
                    </div>

                    <div class="modal-links text-center mt-3">
                        <i class="fas fa-chevron-right ml-1" aria-hidden="true"></i>
                        <a id="recover">Mot de passe oubié ?</a>
                        <br>
                        <i class="fas fa-chevron-right ml-1" aria-hidden="true"></i>
                        <a id="inscription" target="_blank">Crée un compte</a>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-form-send">Connexion</button>
                </div>
            </form>
            <!-- Connexion -->

            <!-- Mot de passe oublié -->
            <form id="password-modal" class="d-none" method="POST" action="/user/forgot_password">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-dark mb-2">Adresse email</label>
                        <input type="email" class="form-control mb-2" name="email" required=""
                            placeholder="Adresse email">
                    </div>

                    <div class="modal-links text-center mt-3">
                        <i class="fas fa-chevron-right ml-1" aria-hidden="true"></i>
                        <a id="connexion">Connexion</a>
                        <br>
                        <i class="fas fa-chevron-right ml-1" aria-hidden="true"></i>
                        <a id="inscription2">Crée un compte</a>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-form-send">Valider</button>
                </div>

            </form>
            <!-- Mot de passe oublié -->

            <!-- Inscription -->
            <form id="inscription-modal" style="display: none;" method="POST" action="/user/register"
                enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-dark mb-2">Votre prénom</label>
                        <input type="text" class="form-control mb-2" name="firstname" required placeholder="Prénom"
                            value="{{data3}}">
                    </div>

                    <div class="form-group">
                        <label class="text-dark mb-2">Votre nom</label>
                        <input type="text" class="form-control mb-2" name="lastname" required placeholder="Nom"
                            value="{{data2}}">
                    </div>

                    <div class="form-group">
                        <label class="text-dark mb-2">Votre adresse email</label>
                        <input type="email" class="form-control mb-2" name="email" required placeholder="Adresse email"
                            value="{{data1}}">
                    </div>

                    <div class="form-group">
                        <label class="text-dark mb-2">Votre mot de passe</label>
                        <input type="password" class="form-control mb-2" name="password" required
                            placeholder="Mot de passe">
                    </div>

                    <div class="form-group">
                        <label class="text-dark mb-2">Votre avatar</label>
                        <input type="file" class="form-control mb-2" name="avatar" id="avatar"
                            onchange="updateImageDisplay()" required value="{{data4}}" accept=".png, .jpg, .jpeg, .gif">
                    </div>

                    <div class="preview">
                        <p>Aucun fichier sélectionné pour le moment</p>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-form-send">S'inscrire</button>
                </div>

            </form>
            <!-- Inscription -->
        </div>
    </div>
</div>
<!-- Modal Membres -->

<!-- Modal Confirmation de Déconnexion -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabelLogout">Confirmer la déconnexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p class="mt-1">Êtes-vous sur de vouloirs vous déconnectez ?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-form-send">Valider</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal Confirmation de Déconnexion -->