<!-- Modal Admin Ajout Galerie -->
 <div class="modal fade" id="add_galerie" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Ajouter une image à la galerie</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST" action="/admin/addGalerie" enctype="multipart/form-data">
                 <div class="modal-body">
                     <div class="form-group">
                         <label class="text-dark mb-2">Image</label>
                         <input type="file" id="imageGaleries" class="form-control mb-2" onchange="updateImageDisplay4()" required name="image"
                             placeholder="Image" accept=".png, .jpg, .jpeg, .gif">
                     </div>

                     <div class="preview4">
                            <p>Aucun fichier sélectionné pour le moment</p>
                        </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Titre de l'image</label>
                         <input type="text" class="form-control mb-2" required name="title"
                             placeholder="Titre de l'image">
                     </div>

                     <div class="form-group text-center">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Image privé ?</label>
                            <div><input type="checkbox" class="switch_1" name="isPrivate" id="isPrivate7" value="false" ></div>
                            <label class="text-dark mb-2" id="lab_img">En ligne</label>
                        </div>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Ajout Galerie -->