 <!-- Modal Admin Ajout Video -->
 <div class="modal fade" id="add_video" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelAddVideo">Ajouter une vidéo</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form action="/admin/addTuto" method="POST">
                 <div class="modal-body">
                     <div class="form-group">
                         <label class="text-dark mb-2">Catégorie de la vidéo</label>
                         <select class="form-control mb-2" name="category">
                             <option disabled selected>Choissisez une catégorie</option>
                             <option disabled>----------</option>
                             <option value="PHP">PHP</option>
                             <option value="HTML">HTML</option>
                             <option value="CSS">CSS</option>
                             <option value="SASS">SASS</option>
                             <option value="JS">JS</option>
                             <option value="NODEJS">NODEJS</option>
                             <option value="MONGODB">MONGODB</option>
                             <option value="MYSQL">MYSQL</option>
                             <option value="VUEJS">VUEJS</option>
                             <option value="SYMFONY">SYMFONY</option>
                         </select>
                     </div>

                      <div class="form-group">
                         <label class="text-dark mb-2">Lien de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="links"
                             placeholder="Lien de la vidéo">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Api de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="api"
                             placeholder="Api de la vidéo">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Titre de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="title"
                             placeholder="Titre de le vidéo">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Date de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="date" placeholder="18 déc. 2015">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Description de la vidéo</label>
                         <textarea rows="10" class="form-control mb-2" name="content"
                             placeholder="Description de la vidéo"></textarea>
                     </div>

                      <div class="form-group text-center">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Vidéo privé ?</label>
                            <div><input type="checkbox" class="switch_1" name="isPrivate" id="isPrivate5" value="false" ></div>
                            <label class="text-dark mb-2" id="lab_vid">En ligne</label>
                        </div>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Ajout Video -->