 <!-- Modal Admin Ajout Projet -->
 <div class="modal fade" id="add_projet" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelAddProjet">Ajouter un projet réalisé</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST" action="/admin/addProjet" enctype="multipart/form-data">
                 <div class="modal-body">
                     <div class="form-group">
                         <label class="text-dark mb-2">Image du projet</label>
                         <input type="file" class="form-control mb-2" id="imageProjets" name="image"
                             placeholder="Image du projet" onchange="updateImageDisplay3()" accept=".png, .jpg, .jpeg, .gif" required>
                     </div>

                     <div class="preview3">
                            <p>Aucun fichier sélectionné pour le moment</p>
                        </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Titre du projet</label>
                         <input type="text" class="form-control mb-2" name="title"
                             placeholder="Titre du projet" required>
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Date du projet</label>
                         <input type="text" class="form-control mb-2" name="date" placeholder="31/10/2005" placeholder="MM/DD/YYYY" required>
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Description du projet</label>
                         <textarea rows="10" class="form-control mb-2" name="content"
                             placeholder="Description du projet" required></textarea>
                     </div>

                    <div class="form-group text-center">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Projet privé ?</label>
                            <div><input type="checkbox" class="switch_1" name="isPrivate" id="isPrivate3" value="false" ></div>
                            <label class="text-dark mb-2" id="lab_proj">En ligne</label>
                        </div>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Ajout Projet -->

 <!-- Modal Admin Ajout Article Blog -->
 <div class="modal fade" id="add_article" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Ajouter un article au blog</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST" action="/admin/addArticle" enctype="multipart/form-data">
                 <div class="modal-body">
                     <div class="form-group">
                         <label class="text-dark mb-2">Image de l'article</label>
                         <input type="file" id="image" class="form-control mb-2" onchange="updateImageDisplay()" required name="image"
                             placeholder="Image de l'article" accept=".png, .jpg, .jpeg, .gif">
                     </div>

                     <div class="preview">
                            <p>Aucun fichier sélectionné pour le moment</p>
                        </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Titre de l'article</label>
                         <input type="text" class="form-control mb-2" required name="title"
                             placeholder="Titre de l'article">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Description de l'article</label>
                         <textarea rows="10" class="form-control mb-2" id="contentArticleAdd" name="content"
                             placeholder="Description de l'article"></textarea>
                     </div>

                     <div id="isAdmin" class="form-group text-center mt-2">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Article privé ?</label>
                            <div><input type="checkbox" class="switch_1" name="isPrivate" id="isPrivate"  ></div>
                            <label class="text-dark mb-2" id="lab_priv">En ligne</label>
                        </div>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Ajout Article Blog -->

 <!-- Modal Admin Ajout Membres -->
 <div class="modal fade" id="add_membres" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelAddMembres">Ajouter un nouveau membre</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST" action="/admin/addUser" enctype="multipart/form-data">
                 <div class="modal-body">
                     <div class="form-group">
                         <label class="text-dark mb-2">Nom du membre</label>
                         <input type="text" class="form-control mb-2" name="lastname" required placeholder="Nom">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Prénom du membre</label>
                         <input type="text" class="form-control mb-2" name="firstname" required placeholder="Prénom">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Email du membre</label>
                         <input type="email" class="form-control mb-2" required name="email"
                             placeholder="Adresse email">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Mot de passe du membre</label>
                         <input type="password" class="form-control mb-2" required name="password"
                             placeholder="Mot de passe">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Avatar du membre</label>
                         <input type="file" id="avatar" class="form-control mb-2" onchange="updateImageDisplay2()" name="avatar" required accept=".png, .jpg, .jpeg, .gif">
                     </div>

                    <div class="preview2">
                        <p>Aucun fichier sélectionné pour le moment</p>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Ajout Membres -->

 <!-- Modal Admin Modifier un projet -->
 <div class="modal fade" id="modif_projet" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelModifProjet">Modifier le projet</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form id="editProjetForm" method="POST" enctype="multipart/form-data">
                 <div class="modal-body">
                     <div class="form-group">
                         <label class="text-dark mb-2">Image du projet</label>
                         <input type="text" class="form-control mb-2" name="image" id="imageProjet"
                             placeholder="Image du projet">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Titre du projet</label>
                         <input type="text" class="form-control mb-2" name="title" id="titreProjet"
                             placeholder="Titre du projet">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Date du projet</label>
                         <input type="text" class="form-control mb-2" name="date" id="dateProjet">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Description du projet</label>
                         <textarea rows="10" class="form-control mb-2" name="content" id="contentProjet"
                             placeholder="Description du projet"></textarea>
                     </div>

                     <div class="form-group text-center">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Projet privé ?</label>
                            <div><input type="checkbox" class="switch_1" name="isPrivate" id="isPrivate4"  ></div>
                            <label class="text-dark mb-2" id="lab_proj2">En ligne</label>
                        </div>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Modifier un projet -->

 <!-- Modal Admin Modifier Article Blog -->
 <div class="modal fade" id="modif_article" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelModifArticle">Modifier l'article</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form id="editArticleForm" method="POST" action="/admin/editArticle/{{_id}}" enctype="multipart/form-data">
                 <div class="modal-body">
                     <div class="form-group">
                         <label class="text-dark mb-2">Image de l'article</label>
                         <input type="text" class="form-control mb-2" name="image" id="imageArticle"
                             placeholder="Image de l'article">
                     </div>

                     <div class="form-group">
                         <label for="titreArticle" class="text-dark mb-2">Titre de l'article</label>
                         <input type="text" class="form-control mb-2" name="title" id="titleArticle"
                             placeholder="Titre de l'article">
                     </div>

                     <div class="form-group">
                         <label for="contentProjet" class="text-dark mb-2">Description de l'article</label>
                         <textarea rows="10" class="form-control mb-2" name="content" id="contentArticle"
                             placeholder="Description de l'article"></textarea>
                     </div>

                    <div class="form-group text-center">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Article privé ?</label>
                            <div><input type="checkbox" class="switch_1" name="isPrivate" id="isPrivate2" ></div>
                            <label class="text-dark mb-2" id="lab_priv2">En ligne</label>
                        </div>
                    </div>
                     

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Modifier Article Blog -->

 <!-- Modal Admin Modif Membres -->
 <div class="modal fade" id="modif_membre" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Modifier un membre</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form id="editUserForm" method="POST" enctype="multipart/form-data">
                 <div class="modal-body">
                     <div class="form-group">
                         <label class="text-dark mb-2">Nom du membre</label>
                         <input type="text" class="form-control mb-2" name="lastname" id="lastname" required placeholder="Nom">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Prénom du membre</label>
                         <input type="text" class="form-control mb-2" name="firstname" id="firstname" required placeholder="Prénom">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Email du membre</label>
                         <input type="email" class="form-control mb-2" name="email" id="email" required
                             placeholder="Adresse email">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Avatar du membre</label>
                         <input type="file" class="form-control mb-2" name="avatar" id="avatar">
                     </div>

                    <div id="isAdmin" class="form-group text-center">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Status du membre</label>
                            <div><input type="checkbox" class="switch_1" name="isBanned" id="isBanned" value="false"></div>
                            <label class="text-dark mb-2" id="lab_ban">Actif</label>
                        </div>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Modif Membres -->

 <!-- Modal Admin Modifier une vidéo  -->
 <div class="modal fade" id="modif_video" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelEditVideo">Modifier une vidéo Youtube</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form id="editTutoForm" method="POST">
                 <div class="modal-body">
                    <div class="form-group">
                         <label class="text-dark mb-2">Lien de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="links" id="linksVideo"
                             placeholder="Lien de la vidéo">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Api de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="api" id="apiVideo"
                             placeholder="Api de la vidéo">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Titre de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="title" id="titreVideo"
                             placeholder="Titre de le vidéo">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Date de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="date" id="dateVideo" placeholder="18 déc. 2015">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Description de la vidéo</label>
                         <textarea rows="10" class="form-control mb-2" name="content" id="contentVideo"
                             placeholder="Description de la vidéo"></textarea>
                     </div>

                     <div class="form-group text-center">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Vidéo privé ?</label>
                            <div><input type="checkbox" class="switch_1" name="isPrivate" id="isPrivate6" value="false" ></div>
                            <label class="text-dark mb-2" id="lab_vid2">En ligne</label>
                        </div>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Modifier un projet -->

 <!-- Modal Admin Supression -->
 <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelDelete">Confirmer la suppression</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>

             <div class="modal-body">
                 <p class="mt-1 text-center">Êtes-vous sur de vouloirs supprimer ?</p>
             </div>

             <div class="modal-footer">
                 <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                 <button type="button" id="remove" class="btn btn-form-send">Valider</button>
             </div>

         </div>
     </div>
 </div>
 <!-- Modal Admin Supression -->

  <!-- Modal Admin Ajout Video -->
 <div class="modal fade" id="add_video" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelAddVideo">Ajouter une vidéo</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form action="/admin/addTuto" method="POST">
                 <div class="modal-body">
                      <div class="form-group">
                         <label class="text-dark mb-2">Lien de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="links"
                             placeholder="Lien de la vidéo">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Api de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="api"
                             placeholder="Api de la vidéo">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Titre de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="title"
                             placeholder="Titre de le vidéo">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Date de la vidéo</label>
                         <input type="text" class="form-control mb-2" name="date" placeholder="18 déc. 2015">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Description de la vidéo</label>
                         <textarea rows="10" class="form-control mb-2" name="content"
                             placeholder="Description de la vidéo"></textarea>
                     </div>

                      <div class="form-group text-center">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Vidéo privé ?</label>
                            <div><input type="checkbox" class="switch_1" name="isPrivate" id="isPrivate5" value="false" ></div>
                            <label class="text-dark mb-2" id="lab_vid">En ligne</label>
                        </div>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Ajout Video -->

 <!-- Modal Admin Ajout Galerie -->
 <div class="modal fade" id="add_galerie" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Ajouter une image à la galerie</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form method="POST" action="/admin/addGalerie" enctype="multipart/form-data">
                 <div class="modal-body">
                     <div class="form-group">
                         <label class="text-dark mb-2">Image</label>
                         <input type="file" id="imageGaleries" class="form-control mb-2" onchange="updateImageDisplay4()" required name="image"
                             placeholder="Image" accept=".png, .jpg, .jpeg, .gif">
                     </div>

                     <div class="preview4">
                            <p>Aucun fichier sélectionné pour le moment</p>
                        </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Titre de l'image</label>
                         <input type="text" class="form-control mb-2" required name="title"
                             placeholder="Titre de l'image">
                     </div>

                     <div class="form-group text-center">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Image privé ?</label>
                            <div><input type="checkbox" class="switch_1" name="isPrivate" id="isPrivate7" value="false" ></div>
                            <label class="text-dark mb-2" id="lab_img">En ligne</label>
                        </div>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Ajout Galerie -->

  <!-- Modal Admin Modifier une image  -->
 <div class="modal fade" id="modif_galerie" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelEditGalerie">Modifier une vidéo Youtube</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form id="editGalerieForm" method="POST">
                 <div class="modal-body">

                     <div class="form-group">
                         <label class="text-dark mb-2">Titre de l'image</label>
                         <input type="text" class="form-control mb-2" name="title" id="titreGalerie"
                             placeholder="Titre de l'image">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Image</label>
                         <input type="text" class="form-control mb-2" name="image" id="imageGalerie"
                             placeholder="Image">
                     </div>

                     <div class="form-group text-center">
                        <div class="switch_box box_1">
                            <label class="text-dark mb-2">Image privé ?</label>
                            <div>
                                <input type="checkbox" class="switch_1" name="isPrivate" id="isPrivate8">
                            </div>
                            <label class="text-dark mb-2" id="lab_img2">En ligne</label>
                        </div>
                    </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Modifier une image -->

 <!-- Modal Admin Modifier commentaire -->
 <div class="modal fade" id="modif_comment" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="ModalLabelModifComment">Modifier le commentaire</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <form id="editCommentForm" method="POST">
                 <div class="modal-body">

                     <div class="form-group">
                         <label class="text-dark mb-2">Autheur du commentaire</label>
                         <input type="text" class="form-control mb-2" name="author" id="authorComment"
                             placeholder="Autheur du commentaire">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Avatar du membre</label>
                         <input type="text" class="form-control mb-2" name="image" id="avatarComment"
                             placeholder="Avatar du membre">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Date de création du commentaire</label>
                         <input type="text" class="form-control mb-2" name="dateCreate" id="dateCreateComment"
                             placeholder="Date de création du commentaire">
                     </div>

                     <div class="form-group">
                         <label class="text-dark mb-2">Commentaire</label>
                         <textarea class="form-control mb-2" name="content" id="contentComment"></textarea>
                     </div>

                 </div>

                 <div class="modal-footer">
                     <button type="button" class="btn btn-form-reset" data-dismiss="modal">Fermer</button>
                     <button type="submit" class="btn btn-form-send">Valider</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 <!-- Modal Admin Modifier un projet -->