<!-- Mobile -->
<div class="list">

    <!-- Affichage de la section membre mobile  -->
    {{> admin/mobile/membres_mobile }}

    <!-- Affichage de la section article mobile  -->
    {{> admin/mobile/articles_mobile }}

    <!-- Affichage de la section youtube mobile  -->
    {{> admin/mobile/youtubes_mobile }}

    <!-- Affichage de la section galerie mobile  -->
    {{> admin/mobile/galeries_mobile }}

    <!-- Affichage de la section projet mobile  -->
    {{> admin/mobile/projets_mobile }}

    <!-- Affichage de la section commentaire mobile  -->
    {{> admin/mobile/comments_mobile }}
    
</div>
<!-- Mobile -->