<!-- Mobile -->
<div class="list">

    {{> admin/mobile/membres_mobile }}

    {{> admin/mobile/articles_mobile }}

    {{> admin/mobile/youtubes_mobile }}

    {{> admin/mobile/galeries_mobile }}

    {{> admin/mobile/projets_mobile }}

    {{> admin/mobile/comments_mobile }}
    
</div>
<!-- Mobile -->