<!-- Mobile -->
<div class="list">

    <div class="m-auto text-center mt-3 mb-3 container-list">
        <p class="text-center">Liste des membres du site internet</p>
    </div>

    <div class="list-group m-auto">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="m-auto mt-1 mb-1">Nom & Prénom</h5>
            </div>
            <p class="mb-1">Adresse email : gaetanarinfo@gmail.com</p>
            <p class="mb-1">Rang : Administrateur</p>
            <p class="mb-1">Date d'inscription : 23/02/2020</p>
            <p class="mb-1">
                <a href="" data-toggle="modal" data-target="#modif_membre" data-original-title="Editer le membre"><i
                        class="fas fa-user-edit ml-2" aria-hidden="true"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-original-title="Supprimer un membre"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="m-auto mt-1 mb-1">Nom & Prénom</h5>
            </div>
            <p class="mb-1">Adresse email : gaetanarinfo@gmail.com</p>
            <p class="mb-1">Rang : Administrateur</p>
            <p class="mb-1">Date d'inscription : 23/02/2020</p>
            <p class="mb-1">
                <a href="" data-toggle="modal" data-target="#modif_membre" data-original-title="Editer le membre"><i
                        class="fas fa-user-edit ml-2" aria-hidden="true"></i></a>
                <a href="" id="user_delete_2" data-original-title="Supprimer un membre"><i class="fas fa-trash"
                        aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="m-auto mt-1 mb-1">Nom & Prénom</h5>
            </div>
            <p class="mb-1">Adresse email : gaetanarinfo@gmail.com</p>
            <p class="mb-1">Rang : Administrateur</p>
            <p class="mb-1">Date d'inscription : 23/02/2020</p>
            <p class="mb-1">
                <a href="" data-toggle="modal" data-target="#modif_membre" data-original-title="Editer le membre"><i
                        class="fas fa-user-edit ml-2" aria-hidden="true"></i></a>
                <a href="" id="user_delete_3" data-original-title="Supprimer un membre"><i class="fas fa-trash"
                        aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="m-auto mt-1 mb-1">Nom & Prénom</h5>
            </div>
            <p class="mb-1">Adresse email : gaetanarinfo@gmail.com</p>
            <p class="mb-1">Rang : Administrateur</p>
            <p class="mb-1">Date d'inscription : 23/02/2020</p>
            <p class="mb-1">
                <a href="" data-toggle="modal" data-target="#modif_membre" data-original-title="Editer le membre"><i
                        class="fas fa-user-edit ml-2" aria-hidden="true"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-original-title="Supprimer un membre"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
        </ul>
    </div>

    <hr class="separateur">

    <div class="m-auto text-center mt-3 container-list">
        <p class="text-center">LISTE DES ARTICLES BLOG DU SITE INTERNET</p>
    </div>

    <div class="list-group m-auto">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="m-auto mt-1 mb-1">Titre</h5>
            </div>
            <p class="mb-1">Date de création : 23/02/2020</p>
            <p class="mb-1">Commentaire : 0</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_article"
                    data-original-title="Editer l'article"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-original-title="Supprimer l'article"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="m-auto mt-1 mb-1">Titre</h5>
            </div>
            <p class="mb-1">Date de création : 23/02/2020</p>
            <p class="mb-1">Commentaire : 0</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_article"
                    data-original-title="Editer l'article"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-original-title="Supprimer l'article"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="m-auto mt-1 mb-1">Titre</h5>
            </div>
            <p class="mb-1">Date de création : 23/02/2020</p>
            <p class="mb-1">Commentaire : 0</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_article"
                    data-original-title="Editer l'article"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-original-title="Supprimer l'article"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="m-auto mt-1 mb-1">Titre</h5>
            </div>
            <p class="mb-1">Date de création : 23/02/2020</p>
            <p class="mb-1">Commentaire : 0</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_article"
                    data-original-title="Editer l'article"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-original-title="Supprimer l'article"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
        </ul>
    </div>

    <hr class="separateur">

    <div class="m-auto text-center mt-3 container-list">
        <p class="text-center">VIDÉOS YOUTUBE</p>
    </div>

    <div class="list-group m-auto">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><iframe class="card-img-top card-yt" src="https://www.youtube.com/embed/Y80juYcu3ZI"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""></iframe></p>
            <p class="mb-1">Titre</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1">Date : 18 déc. 2015</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_video"
                    data-original-title="Editer la vidéo"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><iframe class="card-img-top card-yt" src="https://www.youtube.com/embed/Y80juYcu3ZI"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""></iframe></p>
            <p class="mb-1">Titre</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1">Date : 18 déc. 2015</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_video"
                    data-original-title="Editer la vidéo"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><iframe class="card-img-top card-yt" src="https://www.youtube.com/embed/Y80juYcu3ZI"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""></iframe></p>
            <p class="mb-1">Titre</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1">Date : 18 déc. 2015</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_video"
                    data-original-title="Editer la vidéo"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><iframe class="card-img-top card-yt" src="https://www.youtube.com/embed/Y80juYcu3ZI"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""></iframe></p>
            <p class="mb-1">Titre</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1">Date 18 déc. 2015</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_video"
                    data-original-title="Editer la vidéo"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
        </ul>
    </div>

    <hr class="separateur">

    <div class="m-auto text-center mt-3 container-list">
        <p class="text-center">GALERIE DU SITE INTERNET</p>
    </div>

    <div class="list-group m-auto">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><img class="w-100" src="../assets/images/galerie/image-1.jpeg" alt="image1"></p>
            <p class="mb-1">Titre</p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><img class="w-100" src="../assets/images/galerie/image-2.jpeg" alt="image2"></p>
            <p class="mb-1">Titre</p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><img class="w-100" src="../assets/images/galerie/image-3.jpeg" alt="image3"></p>
            <p class="mb-1">Titre</p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><img class="w-100" src="../assets/images/galerie/image-4.jpeg" alt="image4"></p>
            <p class="mb-1">Titre</p>
        </div>
    </div>

    <div class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
        </ul>
    </div>

    <hr class="separateur">

    <div class="m-auto text-center mt-3 container-list">
        <p class="text-center">PROJET REALISER</p>
    </div>

    <div class="list-group m-auto">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><img class="w-100" src="../assets/images/projets/over-games.png" alt="Over-Games"></p>
            <p class="mb-1">Titre</p>
            <p class="mb-1">Projet privé : non</p>
            <p class="mb-1">Date de création : 15/02/2020</p>
            <p class="mb-1">Utilisateurs qui aime : 0</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_projet"
                    data-original-title="Editer le projet"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-original-title="Supprimer le projet"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><img class="w-100" src="../assets/images/projets/games-actus.png" alt="Games-Actus"></p>
            <p class="mb-1">Titre</p>
            <p class="mb-1">Projet privé : non</p>
            <p class="mb-1">Date de création : 10/05/2020</p>
            <p class="mb-1">Utilisateurs qui aime : 0</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_projet"
                    data-original-title="Editer le projet"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-original-title="Supprimer le projet"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><img class="w-100" src="../assets/images/projets/assassin-creed.png"
                    alt="ASSASSIN CREED VALHALLA"></p>
            <p class="mb-1">Titre</p>
            <p class="mb-1">Projet privé : non</p>
            <p class="mb-1">Date de création : 15/08/2020</p>
            <p class="mb-1">Utilisateurs qui aime : 0</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_projet" data-placement="top" title=""
                    data-original-title="Editer le projet"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-original-title="Supprimer le projet"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><img class="w-100" src="../assets/images/projets/over-games-news.png" alt="OVER GAMES NEWS">
            </p>
            <p class="mb-1">Titre</p>
            <p class="mb-1">Projet privé : non</p>
            <p class="mb-1">Date de création : 15/08/2020</p>
            <p class="mb-1">Utilisateurs qui aime : 0</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_projet"
                    data-original-title="Editer le projet"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-original-title="Supprimer le projet"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><img class="w-100" src="../assets/images/projets/chat.png" alt="PROGRAMME CHAT SUR LINUX">
            </p>
            <p class="mb-1">Titre</p>
            <p class="mb-1">Projet privé : non</p>
            <p class="mb-1">Date de création : 25/11/2020</p>
            <p class="mb-1">Utilisateurs qui aime : 0</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_projet"
                    data-original-title="Editer le projet"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-original-title="Supprimer le projet"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="list-group m-auto mt-2">
        <div class="list-group-item list-group-item-action flex-column align-items-start text-center">
            <p class="mb-1"><img class="w-100" src="../assets/images/projets/flex-site.png" alt="FLEX SITE"></p>
            <p class="mb-1">Titre</p>
            <p class="mb-1">Projet privé : non</p>
            <p class="mb-1">Date de création : 25/10/2020</p>
            <p class="mb-1">Utilisateurs qui aime : 0</p>
            <p class="mb-1">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quae, quas
                deleniti at sequi explicabo</p>
            <p class="mb-1"><a href="" data-toggle="modal" data-target="#modif_projet"
                    data-original-title="Editer le projet"><i class="fas fa-edit ml-2" aria-hidden="true"></i></a>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-original-title="Supprimer le projet"><i
                        class="fas fa-trash" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>

    <div class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
        </ul>
    </div>
</div>
<!-- Mobile -->