<div class="w-100">
    <div class="cont">
        <div class="row justify-content-left">
            <div class="container container-center">

                <div class="row justify-content-center" id="membres">
                    <div>
                        <p class="text-center">Liste des membres du site internet</p>
                    </div>

                    <div class="col-md-8 table-responsive">
                        <table class="table table-hover table-dark text-center">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Nom et Prénom</th>
                                    <th scope="col">Adresse email</th>
                                    <th scope="col">Rang</th>
                                    <th scope="col">Date d'inscription</th>
                                    <th scope="col">Gestion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="th-perso">1</th>
                                    <td class="th-perso">Seigneur Gaëtan</td>
                                    <td class="th-perso">gaetanarinfo@gmail.com</td>
                                    <td class="th-perso">Administrateur</td>
                                    <td class="th-perso">23/11/2020</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_membre"><i
                                                class="fas fa-user-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer le membre"></i></a>
                                        <a href="" data-toggle="modal" data-target="#deleteModal"><i
                                                class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Supprimer un membre"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="th-perso">2</th>
                                    <td class="th-perso">Seigneur Gaëtan</td>
                                    <td class="th-perso">gaetanarinfo@gmail.com</td>
                                    <td class="th-perso">Administrateur</td>
                                    <td class="th-perso">23/11/2020</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_membre"><i
                                                class="fas fa-user-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer le membre"></i></a>
                                        <a href="" data-toggle="modal" data-target="#deleteModal"><i
                                                class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Supprimer un membre"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="th-perso">3</th>
                                    <td class="th-perso">Seigneur Gaëtan</td>
                                    <td class="th-perso">gaetanarinfo@gmail.com</td>
                                    <td class="th-perso">Administrateur</td>
                                    <td class="th-perso">23/11/2020</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_membre"><i
                                                class="fas fa-user-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer le membre"></i></a>
                                        <a href="" data-toggle="modal" data-target="#deleteModal"><i
                                                class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Supprimer un membre"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="th-perso">4</th>
                                    <td class="th-perso">Seigneur Gaëtan</td>
                                    <td class="th-perso">gaetanarinfo@gmail.com</td>
                                    <td class="th-perso">Administrateur</td>
                                    <td class="th-perso">23/11/2020</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_membre"><i
                                                class="fas fa-user-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer le membre"></i></a>
                                        <a href="" data-toggle="modal" data-target="#deleteModal"><i
                                                class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Supprimer un membre"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="row justify-content-center" style="display: none;" id="blog">

                    <div>
                        <p class="text-center">Liste des articles blog du site internet</p>
                    </div>

                    <div class="col-md-8">
                        <table class="table table-hover table-dark text-center">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col" style="width: 28%;">Titre</th>
                                    <th scope="col" style="width: 15%;">Date de création</th>
                                    <th scope="col" style="width: 11%;">Commentaire</th>
                                    <th scope="col" style="width: 30%">Description de l'article</th>
                                    <th scope="col" style="width: 10%;">Gestion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="th-perso">1</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">23/02/2020</td>
                                    <td class="th-perso">0</td>
                                    <td class="table-content th-perso">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Officiis quae, quas deleniti at sequi explicabo</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_article"><i
                                                class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer l'article"></i></a>
                                        <a href="" data-toggle="modal" data-target="#deleteModal"><i
                                                class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Supprimer l'article"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="th-perso">2</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">23/02/2020</td>
                                    <td class="th-perso">0</td>
                                    <td class="table-content th-perso">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Officiis quae, quas deleniti at sequi explicabo</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_article"><i
                                                class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer l'article"></i></a>
                                        <a href="" data-toggle="modal" data-target="#deleteModal"><i
                                                class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Supprimer l'article"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="th-perso">3</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">23/02/2020</td>
                                    <td class="th-perso">0</td>
                                    <td class="table-content th-perso">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Officiis quae, quas deleniti at sequi explicabo</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_article"><i
                                                class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer l'article"></i></a>
                                        <a href="" data-toggle="modal" data-target="#deleteModal"><i
                                                class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Supprimer l'article"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="th-perso">4</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">23/02/2020</td>
                                    <td class="th-perso">0</td>
                                    <td class="table-content th-perso">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Officiis quae, quas deleniti at sequi explicabo</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_article"><i
                                                class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer l'article"></i></a>
                                        <a href="" data-toggle="modal" data-target="#deleteModal"><i
                                                class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Supprimer l'article"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row justify-content-center" id="youtube" style="display: none;">

                    <div>
                        <p class="text-center">Vidéos YouTube</p>
                    </div>

                    <div class="col-md-8">
                        <table class="table table-hover table-dark text-center">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col" style="width: 28%;">Titre</th>
                                    <th scope="col" style="width: 25%;">Lien vidéo</th>
                                    <th scope="col" style="width: 30%">Description de la vidéo</th>
                                    <th scope="col" style="width: 10%;">Gestion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="th-perso">1</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">http://blbla</td>
                                    <td class="table-content th-perso">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Officiis quae, quas deleniti at sequi explicabo</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_video"><i
                                                class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer la vidéo"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="th-perso">2</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">http://blbla</td>
                                    <td class="table-content th-perso">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Officiis quae, quas deleniti at sequi explicabo</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_video"><i
                                                class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer la vidéo"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="th-perso">3</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">http://blbla</td>
                                    <td class="table-content th-perso">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Officiis quae, quas deleniti at sequi explicabo</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_video"><i
                                                class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer la vidéo"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="th-perso">4</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">http://blbla</td>
                                    <td class="table-content th-perso">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Officiis quae, quas deleniti at sequi explicabo</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_video"><i
                                                class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer la vidéo"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row justify-content-center" style="display: none;" id="galerie">

                    <div>
                        <p class="text-center">Galerie du site internet</p>
                    </div>

                    <div class="col-md-8">
                        <table class="table table-hover table-dark text-center">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 3%;">id</th>
                                    <th scope="col" style="width: 28%;">Titre</th>
                                    <th scope="col" style="width: 25%;">Lien image</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="th-perso">1</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">http://blbla</td>
                                </tr>
                                <tr>
                                    <th class="th-perso">2</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">http://blbla</td>
                                </tr>
                                <tr>
                                    <th class="th-perso">3</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">http://blbla</td>
                                </tr>
                                <tr>
                                    <th class="th-perso">4</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">http://blbla</td>
                                </tr>
                            </tbody>
                        </table>

                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row justify-content-center" style="display: none;" id="projet">

                    <div>
                        <p class="text-center">Projet réaliser</p>
                    </div>

                    <div class="col-md-8">
                        <table class="table table-hover table-dark text-center">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 6%;">id</th>
                                    <th scope="col" style="width: 18%;">Titre</th>
                                    <th scope="col" style="width: 15%;">Projet privé</th>
                                    <th scope="col" style="width: 11%;">Lien image du projet</th>
                                    <th scope="col" style="width: 11%;">Date du projet</th>
                                    <th scope="col" style="width: 30%">Description du projet</th>
                                    <th scope="col" style="width: 10%;">Gestion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="th-perso">1</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">non</td>
                                    <td class="th-perso">http://blbla</td>
                                    <td class="th-perso">23/02/2020</td>
                                    <td class="table-content th-perso">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Officiis quae, quas deleniti at sequi explicabo</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_projet"><i
                                                class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer le projet"></i></a>
                                        <a href="" data-toggle="modal" data-target="#deleteModal"><i
                                                class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Supprimer le projet"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="th-perso">2</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">non</td>
                                    <td class="th-perso">http://blbla</td>
                                    <td class="th-perso">23/02/2020</td>
                                    <td class="table-content th-perso">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Officiis quae, quas deleniti at sequi explicabo</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_projet"><i
                                                class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer le projet"></i></a>
                                        <a href="" data-toggle="modal" data-target="#deleteModal"><i
                                                class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Supprimer le projet"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="th-perso">3</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">non</td>
                                    <td class="th-perso">http://blbla</td>
                                    <td class="th-perso">23/02/2020</td>
                                    <td class="table-content th-perso">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Officiis quae, quas deleniti at sequi explicabo</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_projet"><i
                                                class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer le projet"></i></a>
                                        <a href="" data-toggle="modal" data-target="#deleteModal"><i
                                                class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Supprimer le projet"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="th-perso">4</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">non</td>
                                    <td class="th-perso">http://blbla</td>
                                    <td class="th-perso">23/02/2020</td>
                                    <td class="table-content th-perso">Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit. Officiis quae, quas deleniti at sequi explicabo</td>
                                    <td class="th-perso"><a href="" data-toggle="modal" data-target="#modif_projet"><i
                                                class="fas fa-edit ml-2" data-toggle="tooltip" data-placement="top"
                                                title="Editer le projet"></i></a>
                                        <a href="" data-toggle="modal" data-target="#deleteModal"><i
                                                class="fas fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Supprimer le projet"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>