<div class="w-100">
    <div class="cont">
        <div class="row justify-content-left">
            <div class="container container-center">

                {{> admin/membres }}

                {{> admin/articles }}

                {{> admin/projets }}

                {{> admin/youtubes }}

                <div class="row justify-content-center" style="display: none;" id="galerie">

                    <div>
                        <p class="text-center">Galerie du site internet</p>
                    </div>

                    <div class="col-md-8">
                        <table class="table table-hover table-dark text-center">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 3%;">id</th>
                                    <th scope="col" style="width: 28%;">Titre</th>
                                    <th scope="col" style="width: 25%;">Lien image</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="th-perso">1</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">http://blbla</td>
                                </tr>
                                <tr>
                                    <th class="th-perso">2</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">http://blbla</td>
                                </tr>
                                <tr>
                                    <th class="th-perso">3</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">http://blbla</td>
                                </tr>
                                <tr>
                                    <th class="th-perso">4</th>
                                    <td class="th-perso">Le super titre</td>
                                    <td class="th-perso">http://blbla</td>
                                </tr>
                            </tbody>
                        </table>

                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>