<div class="w-100">
    <div class="cont">
        <div class="row justify-content-left">
            <div class="container container-center">

                {{> admin/membres }}

                {{> admin/articles }}

                {{> admin/projets }}

                {{> admin/youtubes }}

                {{> admin/galeries }}

                {{> admin/comments }}

            </div>
        </div>
    </div>
</div>