<!-- Affichage des différentes section selon l'url choisie  -->
<div class="w-100">
    <div class="cont">
        <div class="row justify-content-left">
            <div class="container container-center">

                <!-- Affichage de la section membre  -->
                {{> admin/membres }}

                <!-- Affichage de la section article  -->
                {{> admin/articles }}

                <!-- Affichage de la section projet  -->
                {{> admin/projets }}

                <!-- Affichage de la section youtube  -->
                {{> admin/youtubes }}

                <!-- Affichage de la section galerie  -->
                {{> admin/galeries }}

                <!-- Affichage de la section commentaire  -->
                {{> admin/comments }}

            </div>
        </div>
    </div>
</div>