<!-- Menu -->
<div class="container-menu-left fixed-top">

    <div class="card-profil">
        <div class="m-auto text-center">
            <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/SA/en/999/EP0001-CUSA02376_00-AV00000000000011/1601165358000/image?w=240&amp;h=240&amp;bg_color=000000&amp;opacity=100&amp;_version=00_09_000"
                alt="Gaëtan Seigneur" width="117" class="rounded-circle mt-4">
        </div>

        <div class="m-auto text-center mt-3">
            <p><i class="fas fa-user-cog ml-1" aria-hidden="true"></i>Seigneur Gaëtan</p>
            <p><i class="fas fa-random ml-1" aria-hidden="true"></i>Administrateur</p>
            <p><i class="fas fa-sign-out-alt ml-1" aria-hidden="true"></i>Inscrit le : 20/11/2020</p>

            <hr>
        </div>

        <div class="m-auto text-center mt-3 menu-1">
            <div class="title-profil">Menu de configuration</div>
        </div>

        <div class="m-auto mt-3 menu-profil menu-1">
            <ul class="list-unstyled text-center">
                <li class="pb-2"><a href="#" id="Membres"><i class="fas fa-users ml-2" aria-hidden="true"></i>Liste des
                        membres</a></li>
                <li class="pb-2"><a href="#" id="Blog"><i class="fas fa-pen-square ml-2" aria-hidden="true"></i>Mon blog
                        personnel</a></li>
                <li class="pb-2"><a href="#" id="Youtube"><i class="fab fa-youtube ml-2" aria-hidden="true"></i>Vidéos
                        youtube</a></li>
                <li class="pb-2"><a href="#" id="Galerie"><i class="far fa-image ml-2" aria-hidden="true"></i>Ma
                        galerie</a></li>
                <li class="pb-2"><a href="#" id="Projet"><i class="fas fa-project-diagram ml-2"
                            aria-hidden="true"></i>Mes projets</a></li>
            </ul>
        </div>

        <hr>

        <div class="m-auto text-center mt-3">
            <div class="title-profil">Une idée un ajout, c'est ici.</div>
        </div>

        <div class="m-auto mt-3 menu-profil">
            <ul class="list-unstyled text-center">
                <li class="pb-2"><a href="" data-toggle="modal" data-target="#add_projet"><i
                            class="fas fa-pencil-alt ml-2" aria-hidden="true"></i>Ajouter un projet</a></li>
                <li class="pb-2"><a href="" data-toggle="modal" data-target="#add_article"><i class="fas fa-tag ml-2"
                            aria-hidden="true"></i>Ajouter un article blog</a></li>
                <li class="pb-2"><a href="" data-toggle="modal" data-target="#add_membres"><i class="fas fa-star ml-2"
                            aria-hidden="true"></i>Ajouter un nouveau membre</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Menu -->